.main-container{
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
  background-color: #f2f3f4;
  & > .form-region {
    grid-column: 1/2;
    background-color: #ffffff;
    & > h3 {
      display: flex;
      justify-content: center;
    }
    & > .form-row {
      display: flex;
      justify-content: space-between;
      padding: 16px;
    }
    & > .form-group {
      display: flex;
      flex-direction: column;
      padding: 0px 32px;
    }
  }
}