@import "~modularscale-sass/stylesheets/modularscale";

html,
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
